@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');


@font-face {
   font-family: "Os-bold";
   src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
   font-family: "Os-extraLigth";
   src: url(../fonts/Oswald-ExtraLight.ttf);
}

@font-face {
   font-family: "Os-medium";
   src: url(../fonts/Oswald-Medium.ttf);
}

@font-face {
   font-family: "Os-regular";
   src: url(../fonts/Oswald-Regular.ttf);
}