/* Header styles */
.menu-bar {
   margin: 20px 0px;
   color: red;
   font-family: Os-extraLigth;
   background-color: #fff;
}

body {
   background-color: #8f8b8b;
}

.menu {
   margin-top: 10px;

   &__logo {}

   // .menu__item

   &__item {
      margin-left: 30px;

      a {
         font-family: Os-bold;
         font-size: 20px;
         color: #212121;

      }
   }
}

.header {
   padding: 180px 0px;
   background: url(../img/header.png) 0 0 no-repeat;
   background-position: 0 100%;
   background-size: cover;

}

.header {
   // .header__title
   text-align: center;
   color: #fff;
   font-family: Os-bold;

   &__title {
      font-weight: 55px;
   }

   // .header__text

   &__text {
      font-size: 20px;
      margin-bottom: 100px;
   }

   // .header__btn

   &__btn {
      text-transform: uppercase;
      padding: 10px 25px;
      margin: 0px 10px;
      color: white;
      transition: all ease 0.3s;
   }
}

.button {

   // .button__empty
   &__empty {
      border: 2px solid white;
      background: transparent;

   }


}

.button__empty:hover {
   background: #00897b;
   border: 2px solid #00897b;

}

.filter {
   margin-bottom: 50px;
}








/*Header styles end*/