/* Imports for styles files */
@import "_defoult";
@import "_header";
@import "_footer";
@import "_fonts";
/* Main styles stars*/

.about {
   margin: 120px 0px 100px 0px;
   color: #212121;
   background: #fff;
   text-align: center;



   &__title {
      font-family: Os-bold;
   }

   &__text {
      margin-top: 30px;
      margin-bottom: 110px
   }

   &__h3 {
      font-family: Os-medium;
   }


}


.services {
   padding: 165px 0px 80px 0px;
   color: #212121;
   background: rgb(197, 248, 244);
   text-align: center;

   &__btn {
      text-transform: uppercase;
      border: 2px solid black;
      background: transparent;
      padding: 12px 12px 12px 12px;
      transition: all ease 0.3s;
      cursor: pointer;
   }
}

i {
   width: 100px;
}


.our__cart {
   background: #fff;
   padding: 50px 20px 40px 20px;
   margin-bottom: 40px;

}

.our__cart:hover {
   background-color: rgb(104, 151, 131);
   transition: all ease 0.5s;
   color: floralwhite;
   box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.46);

   .services__btn {
      border: 2px solid white;
      color: white;


   }
}


.icon {
   font-size: 60px;
   padding-bottom: 20px;
   padding-top: 12px;
}


.portfolio {
   padding: 120px 0px;
   text-align: center;

   &__btn {
      border: 2px solid rgb(104, 151, 131);
      color: black;
      margin-bottom: 20px;
   }

   img {
      padding: 40px;
   }


}

.portfolio__btn:hover {
   color: #fff;
}


div[filter]:hover img {
   filter: brightness(50%);
   transition: all ease 0.3s;
}


.text {
   display: none;

}


div[filter]:hover .text {
   display: block;
   width: 100%;
   color: #fff;
   position: absolute;
   top: 45%;
   left: 10%;
   z-index: 3;
}

.prices {
   background: rgb(236, 236, 236);
   padding: 120px 0px;
   text-align: center;
}



.prices {

   &__card {
      transition: all ease 0.3s;

      background: url(../img/bg.png) 0 0 no-repeat;
      width: 350px;
      height: 600px;
      padding: 20px;
   }

   &__head {
      h5 {
         font-family: Os-bold;
         font-size: 30px;
      }



      p {
         margin-top: -20px;
         font-family: Os-medium;
         font-size: 45px;

         sup,
         sub {
            vertical-align: middle;
            font-family: Os-extraLigth;

         }
      }

      padding-top: 30px;
      padding-bottom: 45px;
      color: #fff;
   }

   &__body {
      font-family: Os-regular;
      font-size: 27px;
      margin-top: 10px;

      li {
         padding-top: 20px;
         border-bottom: 1px solid #e0e0e0;
         max-width: 200px;
         margin: 0 auto;
      }
   }

   &__footer {
      button {
         margin-top: 40px;
      }
   }
}


.prices__card:hover {
   box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.46);

   button {
      background: rgb(104, 151, 131);
   }
}


.team {
   background: rgb(255, 255, 255);
   padding: 120px 0px;
   text-align: center;

   h2 {
      margin-top: 10px;
      font-family: Os-regular;
   }



   &__social {
      a i {
         transition: all ease 0.3s;

      }

      display: flex;
      justify-content: center;

      i:nth-child(1) {
         color: rgb(230, 230, 230);
      }

      i:nth-child(2) {
         color: rgb(74, 107, 94);
      }

   }

}

.team__social a:hover {

   i:nth-child(1) {
      color: rgb(32, 77, 223);

   }

   i:nth-child(2) {
      color: rgb(255, 255, 255);
   }

}

/* Main styles ends*/